@page
@model IndexModel

@{
    ViewData["Title"] = "WebApp Challenge";
}

<div class="text-center">
    <h1 class="display-4">Hello Dan! How are you doing today? <br>Thank you for the task! It was challenging :)</h1>
</div>