@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Dan! How are you doing today?</h1>
    <p>Build, Test and Deploy code <a href="https://docs.microsoft.com/aspnet/core">Build #</a>.</p>
</div>
